.row
  .col-xs-12.col-sm-6
    %h1 Cursos:
  .col-xs-12.col-sm-6.text-center
    %br
    = link_to 'Agregar Curso', new_asignatura_path, class: "btn btn-primary"
    %br
%br
- @asignaturas.group_by{|h| h[:semestre]}.each_with_index do |asignatura,index|
  .panel.panel-default
    .panel-heading
      %a
        =asignatura[0]
        <span class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
    %ul.list-group.collapse{:id => "item_#{index}"}
      -asignatura[1].each do |temp|
        %li.list-group-item
          .row
            .col-xs-12.col-sm-6.col-md-5
              %p
                %b Nombre:
                =temp.nombre
            .col-xs-12.col-sm-6.col-md-2
              %p
                %b NRC:
                =temp.nrc
            .col-xs-12.col-sm-10.col-md-4.col-sm-offset-1.col-md-offset-1
              .btn-group-vertical.btn-group-justified
                =link_to 'Editar', edit_asignatura_path(temp), html_options = {class: "btn  btn-sm btn-default"}
                =link_to 'Ver QCD', asignatura_path(temp), html_options = {class: "btn  btn-sm btn-default"}
:javascript
  $(document).on('click touchstart', '.panel-heading', function(e){
      var $this = $(this);
      console.log($this.parents('.panel').find('.list-group'));
  	if(!$this.parents('.panel').find('.list-group').hasClass('collapse')) {
  		$this.parents('.panel').find('.list-group').slideUp();
  		$this.parents('.panel').find('.list-group').addClass('collapse');
  		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
  	} else {
  		$this.parents('.panel').find('.list-group').slideDown();
  		$this.parents('.panel').find('.list-group').removeClass('collapse');
  		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
  	}
  })






