.row
    .col-md-2
    .col-md-8
        %h1.text_align_center Diagnóstico Rapido de Curso
        %p El QCD (Quick Course Diagnosis), desarrollado por Barbara Millis  recoge la percepción u opinión que los estudiantes tienen sobre una clase en tres aspectos centrales: El nivel de satisfacción con el curso, el cumplimiento de los objetivos de aprendizaje y las fortalezas y debilidades de la misma, con la finalidad de que el profesor obtenga una retroalimentación oportuna de sus clases y pueda hacer cambios o mejoras en el proceso de enseñanza-aprendizaje.
    .col-md-2
.row
    .col-md-6.text_align_center
        %h2 Eres un profesor nuevo?
        %a.btn.btn-info{:href => "http://www.uninorte.edu.co/web/cedu"} Dejanos ayudarte! 
    .col-md-6.text_align_center
        %h2 Eres estudiante?
        %a.btn.btn-info{:href => estudiante_path} Dejanos ayudarte! 

