<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado Profesor <%= @user.name %></h1>
    <p>
      Se ha actualizado su solicitud de QCD.
    </p>
  </body>
</html>